/node_modules
Homestead.yaml
Homestead.json
.env
.idea
.DS_Store
composer.phar
composer.lock

.env.old
dump.rdb
.com.apple.timemachine.supported
_ide_helper.php
/vendor
/public/static

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
